@font-face {
  font-family: 'Molle';
  src: url('../fonts/Molle-Regular.eot');
  src: url('../fonts/Molle-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Molle-Regular.woff2') format('woff2'),
    url('../fonts/Molle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #697899;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-big {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 1em;
}

/*****--------------------media-----------------*****/
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .menu-bottom .menu-bottom__link_first {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .menu {
    display: none;
  }

  div.menu-burger {
    display: block;
  }

  /*****--------------------menubottom-----------------*****/

  nav.menu-bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  a.menu-bottom__link {
    display: block;
    border-radius: 5px;
    padding: 14px;
  }

  img.menu-bottom_icon {
    vertical-align: bottom;
    margin-right: 12px;
  }

  a.menu-bottom__link_search {
    width: 100%;
  }

  input.menu-bottom__input {
    width: 100%;
    padding-left: 35px;
  }

  input.menu-bottom__input_active {
    width: 100%;
  }

  /*****--------------------xphone problem-----------------*****/
  div.header__top-bar {
    margin-top: 30px;
  }

  div.title__subtitle {
    margin-top: 0;
  }

  h1.title__title {
    font-size: 120px;
  }

  button.title__button {
    margin: 10px;
  }

  .header .header__bottom-bar {
    height: 110px;
  }

  input.menu-bottom__input {
    background: url('../img/Search.png') no-repeat 15px 10px, #fff;
    height: 35px;
    padding: 5px;
    padding-left: 35px;
  }
}

@media only screen and (max-width: 768px) {
  div.header__top-bar {
    margin-top: 30px;
  }

  .container {
    max-width: 90%;
  }

  h1.title__title {
    font-size: 80px;
  }

  a.menu-bottom__link {
    padding: 8px;
    margin: 2px;
  }
}

@media only screen and (max-width: 570px) {
  .header .header__bottom-bar {
    height: 210px;
  }

}

/*****--------------------media-----------------*****/

/*****--------------------header-----------------*****/
.header {
  width: 100vw;
  height: 100vh;
  background: url('../img/header.jpg') center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header__top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  position: relative;
}

.menu_mobile {
  display: block;
  border: 1px solid #017dfb;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
}

.menu_mobile:after {
  height: 50px;
  width: 50px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  z-index: 20;
}

.header .menu_mobile ul {
  display: block;
}

.menu_mobile li {
  padding: 20px;
  text-align: center;
}

.menu_mobile .menu__link {
  margin: 15px 10px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu-burger {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.menu-burger span {
  display: block;
  background-color: #017dfb;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  margin: 5px;
  transition: all .3s;
}

.menu-burger_mobile span:first-of-type {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.menu-burger_mobile span:last-of-type {
  transform: rotate(-45deg);
  position: relative;
  bottom: 0px;
}

.menu-burger_mobile span:nth-child(2) {
  display: none;
}

.menu__link {
  opacity: 0.6;
  color: #697899;
  font-size: 16px;
  line-height: 1em;
  margin: 15px 22px;
}

.menu__link_main {
  padding: 15px 22px;
  margin: 0;
}

.menu__link_active {
  box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px 22px;

  margin: 0;
  color: #017dfb;
  transition: all 0.3s;
}

.title {
  color: #017dfb;
  text-align: center;
}

.title__title {
  font-family: 'Molle', sans-serif;
  font-size: 168px;
}

.title__subtitle {
  text-transform: uppercase;
  margin-top: 25px;
}

.title__button {
  margin-top: 50px;
  box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px 40px;

  border: 0;
  color: #017dfb;
  transition: all .3s;
}

.title__button:hover {
  background-color: #017dfb;
  color: #ffffff;
  box-shadow: 0 0 65px rgba(255, 255, 255, 1);
}

.header__bottom-bar {
  width: 100%;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #017dfb;
}

.menu-bottom {
  width: 100%;
}

.menu-bottom__link_first {
  margin-right: 280px;
}

.menu-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom__link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
}

.menu-bottom_icon {
  vertical-align: bottom;
  margin-right: 12px;
}

.menu-bottom__input {
  outline: 0;
  border: 0;
  background: url('../img/Search.png') no-repeat 15px 15px;
  background-color: #fff;
  height: 47px;
  width: 47px;
  border-radius: 30px;
  padding: 15px;
  transition: all .5s;
}

.menu-bottom__input_active {
  width: 200px;
  padding-left: 35px;
}

/*****--------------------main-----------------*****/
/*****--------------------separator-----------------*****/
.separator {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator__title {
  opacity: 0.4;
  color: #697899;
  text-transform: uppercase;
}

/*****--------------------blockimg-----------------*****/

.container-big__block-img {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  grid-gap: 1em;
  //grid-auto-rows: 50%;
  //grid-auto-rows: minmax(272px, auto);
  //grid-auto-flow: row dense; 
}

.container-big__block-img2 {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  //grid-auto-rows: minmax(272px, auto);
  //grid-auto-flow: row dense; 
}


/*****--------------------media-----------------*****/
@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1024px) {

  .container-big__block-img2 {
    grid-template-columns: 1fr;
  }

  .container-big__block-img {
    grid-template-columns: 1fr 1fr;
  }

  div.block-img1 {
    grid-column: 1/2;
  }

  div.block-img2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  div.block-img3 {
    grid-column: 2/3;
  }

  div.block-img4 {
    grid-column: 1/2;
  }

  div.block-img5 {
    grid-column: 2/3;
  }
}

@media only screen and (max-width: 768px) {
  div.separator {
    height: 120px;
  }
}

@media only screen and (max-width: 425px) {
  div.separator {
    height: 100px;
  }

  .container-big__block-img,
  .container-big__block-img2 {
    grid-template-columns: 1fr;
  }

  div.block-img1 {
    grid-column: 1/1;
  }

  div.block-img2 {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  div.block-img3 {
    grid-column: 1/1;
  }

  div.block-img4 {
    grid-column: 1/1;
  }

  div.block-img5 {
    grid-column: 1/1;
  }
}

/*****--------------------media-----------------*****/

.block-img {
  //overflow: hidden;
  position: relative;
}

.block-img img {
  width: 100%;
  height: 100%;
}

.block-img1 {
  grid-column: 1/2;
}

.block-img2 {
  grid-column: 2/4;
  grid-row: 1/3;
}

.block-img3 {
  grid-column: 4/5
}

.block-img4 {
  grid-column: 1/2
}

.block-img5 {
  grid-column: 4/5
}

.block-img__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  transition: all .5s;
}

.block-img__wrapper a {
  display: none;
  font-size: 12px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  padding: 10px 20px;
  margin: 5px;
}

.block-img .block-img__wrapper a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.block-img:hover .block-img__wrapper a {
  display: inline-block;
}

.block-img__title {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  margin: 30px;
}

.block-img:hover .block-img__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(1, 125, 251, .8);
}


/*****--------------------media-----------------*****/
@media only screen and (max-width: 1440px) {
  .block-img__title {
    font-size: 35px;
    margin: 20px;
  }

  .block-img__wrapper a {
    font-size: 12px;
    padding: 6px 10px;
    margin: 0 5px 5px 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.35);
  }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 425px) {
  .block-img__wrapper a {
    padding: 8px 12px;
    margin: 5px;
  }
}

/*****--------------------media-----------------*****/