@font-face {
  font-family: 'Molle';
  src: url('../fonts/Molle-Regular.eot');
  src: url('../fonts/Molle-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Molle-Regular.woff2') format('woff2'),
    url('../fonts/Molle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  color: #697899;
}

a {
  text-decoration: none;
}

.container {
  width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-big {
  max-width: 2000px;
  margin: 0 auto;
}

/*****--------------------media-----------------*****/
@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .menu-bottom .menu-bottom__link_first {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .menu {
    display: none;
  }

  div.menu-burger {
    display: block;
  }

  /*****--------------------menubottom-----------------*****/

  nav.menu-bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  a.menu-bottom__link {
    display: block;
    border-radius: 5px;
    padding: 14px;
  }

  img.menu-bottom_icon {
    vertical-align: bottom;
    margin-right: 12px;
  }

  a.menu-bottom__link_search {
    width: 100%;
  }

  input.menu-bottom__input {
    width: 100%;
    padding-left: 35px;
  }

  input.menu-bottom__input_active {
    width: 100%;
  }

  /*****--------------------xphone problem-----------------*****/
  div.header__top-bar {
    margin-top: 30px;
  }

  div.title__subtitle {
    margin-top: 0;
  }

  h1.title__title {
    font-size: 120px;
  }

  button.title__button {
    margin: 10px;
  }

  .header .header__bottom-bar {
    height: 110px;
  }

  input.menu-bottom__input {
    background: url('../img/Search.png') no-repeat 15px 10px, #fff;
    height: 35px;
    padding: 5px;
    padding-left: 35px;
  }
}

@media only screen and (max-width: 768px) {
  div.header__top-bar {
    margin-top: 30px;
  }

  .container {
    max-width: 90%;
  }

  h1.title__title {
    font-size: 80px;
  }

  a.menu-bottom__link {
    padding: 8px;
    margin: 2px;
  }
}

@media only screen and (max-width: 570px) {
  .header .header__bottom-bar {
    height: 210px;
  }

}

/*****--------------------media-----------------*****/

/*****--------------------header-----------------*****/
.header {
  width: 100vw;
  height: 100vh;
  background: url('../img/header.jpg') center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header__top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  position: relative;
}

.menu_mobile {
  display: block;
  border: 1px solid #017dfb;
  border-radius: 10px;
  position: absolute;
  top: -20px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
}

.menu_mobile:after {
  height: 50px;
  width: 50px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  z-index: 20;
}

.header .menu_mobile ul {
  display: block;
}

.menu_mobile li {
  padding: 20px;
  text-align: center;
}

.menu_mobile .menu__link {
  margin: 15px 10px;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu-burger {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.menu-burger span {
  display: block;
  background-color: #017dfb;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  margin: 5px;
  transition: all .3s;
}

.menu-burger_mobile span:first-of-type {
  transform: rotate(45deg);
  position: relative;
  top: 9px;
}

.menu-burger_mobile span:last-of-type {
  transform: rotate(-45deg);
  position: relative;
  bottom: 0px;
}

.menu-burger_mobile span:nth-child(2) {
  display: none;
}

.menu__link {
  opacity: 0.6;
  color: #697899;
  font-size: 16px;
  line-height: 1em;
  margin: 15px 22px;
}

.menu__link_main {
  padding: 15px 22px;
  margin: 0;
}

.menu__link_active {
  box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
  background-color: #ffffff;
  border-radius: 50px;
  padding: 15px 22px;

  margin: 0;
  color: #017dfb;
  transition: all 0.3s;
}

.title {
  color: #017dfb;
  text-align: center;
}

.title__title {
  font-family: 'Molle', sans-serif;
  font-size: 168px;
}

.title__subtitle {
  text-transform: uppercase;
  margin-top: 25px;
}

.title__button {
  margin-top: 50px;
  box-shadow: 0 0 65px rgba(1, 125, 251, 0.25);
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px 40px;

  border: 0;
  color: #017dfb;
  transition: all .3s;
}

.title__button:hover {
  background-color: #017dfb;
  color: #ffffff;
  box-shadow: 0 0 65px rgba(255, 255, 255, 1);
}

.header__bottom-bar {
  width: 100%;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #017dfb;
}

.menu-bottom {
  width: 100%;
}

.menu-bottom__link_first {
  margin-right: 280px;
}

.menu-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bottom__link {
  color: #ffffff;
  font-size: 16px;
}

.menu-bottom__link:hover {
	text-decoration: underline;
}

.menu-bottom_icon {
  vertical-align: bottom;
  margin-right: 12px;
}

.menu-bottom__input {
  outline: 0;
  border: 0;
  background: url('../img/Search.png') no-repeat 15px 15px;
  background-color: #fff;
  height: 47px;
  width: 47px;
  border-radius: 30px;
  padding: 15px;
  transition: all .5s;
}

.menu-bottom__input_active {
  width: 200px;
  padding-left: 35px;
}

/*****--------------------main-----------------*****/
/*****--------------------separator-----------------*****/
.separator {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator__title {
  opacity: 0.4;
  color: #697899;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*****--------------------blockimg-----------------*****/

.container-big__block-img {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  grid-gap: 1em;  
  padding: 0 1em;
}

.container-big__block-img2 {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  //grid-auto-rows: minmax(272px, auto);
  //grid-auto-flow: row dense; 
}


/*****--------------------media-----------------*****/
@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1024px) {

  .container-big__block-img2 {
    grid-template-columns: 1fr;
  }

  .container-big__block-img {
    grid-template-columns: 1fr 1fr;
  }

  div.block-img1 {
    grid-column: 1/2;
  }

  div.block-img2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  div.block-img3 {
    grid-column: 2/3;
  }

  div.block-img4 {
    grid-column: 1/2;
  }

  div.block-img5 {
    grid-column: 2/3;
  }
}

@media only screen and (max-width: 768px) {
  div.separator {
    height: 120px;
  }
}

@media only screen and (max-width: 425px) {
  div.separator {
    height: 100px;
  }

  .container-big__block-img,
  .container-big__block-img2 {
    grid-template-columns: 1fr;
  }

  div.block-img1 {
    grid-column: 1/1;
  }

  div.block-img2 {
    grid-column: 1/1;
    grid-row: 1/1;
  }

  div.block-img3 {
    grid-column: 1/1;
  }

  div.block-img4 {
    grid-column: 1/1;
  }

  div.block-img5 {
    grid-column: 1/1;
  }
}

/*****--------------------media-----------------*****/

.block-img {
  overflow: hidden;
  position: relative;
}

.block-img img {
  width: 100%;
  height: 100%;
}

.block-img1 {
  grid-column: 1/2;
}

.block-img2 {
  grid-column: 2/4;
  grid-row: 1/3;
}

.block-img3 {
  grid-column: 4/5
}

.block-img4 {
  grid-column: 1/2
}

.block-img5 {
  grid-column: 4/5
}

.block-img__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  transition: all .5s;
}

.block-img__wrapper a {
  display: none;
  font-size: 12px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 30px;
  padding: 10px 20px;
  margin: 5px;
}

.block-img .block-img__wrapper a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.block-img:hover .block-img__wrapper a {
  display: inline-block;
}

.block-img__title {
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  margin: 30px;
}

.block-img:hover .block-img__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(1, 125, 251, .8);
}


/*****--------------------media-----------------*****/
@media only screen and (max-width: 1440px) {
  .block-img__title {
    font-size: 35px;
    margin: 20px;
  }

  .block-img__wrapper a {
    font-size: 12px;
    padding: 6px 10px;
    margin: 0 5px 5px 5px;
    border: 1.5px solid rgba(255, 255, 255, 0.35);
  }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 425px) {
  .block-img__wrapper a {
    padding: 8px 12px;
    margin: 5px;
  }
}

/*****--------------------media-----------------*****/

.container_grey {
  margin-top: 1em;
  background-color: #f9f9f9;
  padding: 0 200px;
  padding-bottom: 50px;

  display: flex;
  align-items: center;
  flex-flow: column;
}

.wrapper_block-hotel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 3em;
  grid-column-gap: 1em;
}

.block-hotel {
  position: relative;
  box-shadow: 0 0 65px rgba(163, 163, 163, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 50px;
}

.block-hotel img {
  display: block;
  width: 100%;
  height: auto;
  opacity: .9;
  transition: all .3s;
}

.block-hotel img:hover {
  opacity: 1;
}

.block-hotel__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.block-hotel__name-stars {}

.block-hotel__name {
  color: #697899;
  font-size: 18px;
}

.block-hotel__stars {
	margin-top: 10px;
}

.stars__caunt {
	font-size: 0;
}

.block-hotel__star {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../img/s3.png) no-repeat center;
  font-size: 0;
  margin-right: 6px;
}

.block-hotel__price-day {
  text-align: center;
}

.block-hotel__price {
  color: #697899;
  font-family: "Roboto Slab";
  font-size: 36px;
  font-weight: 100;
}

.block-hotel__day {
  opacity: 0.3;
  color: #697899;
  font-size: 14px;
  margin-top: 5px;
}

.block-hotel__link {
  color: #017dfb;
  font-size: 16px;
  display: inline-block;
  box-shadow: 0 0 65px rgba(163, 163, 163, 0.25);
  background-color: #ffffff;
  border-radius: 30px;
  padding: 15px 55px;

  position: absolute;
  bottom: -25px;
  padding-bottom: 1em;
  transition: all .3s;
}

.block-hotel__link:hover {
  color: #fff;
  background-color: #017dfb;
}

.wrapper__link {
  display: inline-block;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  border-radius: 30px;
  margin: 75px auto 0;
  /* auto nu lucreaza */
  color: #c5c5c5;
  font-size: 16px;
  padding: 15px 40px;
  transition: all .3s;
}

.wrapper__link:hover {
	border: 2px solid #c5c5c5;
	color: #fff;
	background-color: #e9e9e9;
}


/*****--------------------media-----------------*****/
@media only screen and (max-width: 1440px) {
  .wrapper_block-hotel {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper_block-hotel {
    grid-template-columns: 1fr 1fr;
  }

  .block-hotel__link {
    padding: 15px 35px;
  }

  .container_grey {
    padding: 0 100px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper_block-hotel {
    grid-template-columns: 1fr 1fr;
  }

  .container_grey {
    padding: 0 30px 50px;
  }

  .block-hotel__link {
    padding: 12px 35px;
    bottom: -20px;
  }

  .block-hotel__price {
    font-size: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .wrapper_block-hotel {
    grid-template-columns: 1fr;
  }
}

/*****--------------------media-----------------*****/
/*****--------------------slider-----------------*****/
.slider {
	position: relative;
	min-width: 0;
	margin: 0 1em;
}
.slider img {
	width: 100%;
}
/* Слайдер */
.slick-slider{
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}
/* Стрелка */
.slick-arrow{
	border: 1px solid red;
	font-size: 0;
	border: 0;
	width: 50px;
	height: 100px;

	position: absolute;
	z-index: 100;
	top: calc(50% - 50px);
}
/* Стрелка влево */
.slider .slick-arrow.slick-prev{
	background: url("../img/LeftArrow.png") no-repeat center;
	left: 10%;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next{
	background: url("../img/RightArrow.png") no-repeat center;
	right: 10%;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{
	opacity: .6;
}
/* Точки (булиты) */
.slick-dots{	
  position: absolute;
  bottom: 10%;
  left: calc(50% - 30px);
}
.slick-dots li{
	font-size: 0;
		display: inline-block;

}
/* Активная точка */
.slick-dots li.slick-active{
	background-color: #fff;
		height: 10px;
	width: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
/* Элемент точки */
.slick-dots li button{
	height: 10px;
	width: 10px;
	margin-right: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0;
}




/*****--------------------footer-----------------*****/
.footer {
	color: #bdbdbd;
	text-align: center;
	margin: 60px auto;
}
.footer__title {
	font-family: 'Molle';
	font-size: 36px;
}

.footer__text {
	display: inline-block;
	font-size: 18px;
	margin-top: 30px;
}